*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav{
    color: white;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.navegacion{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    padding: 15px;
}
nav a:hover{
    color: red;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 20px;
}
#inicio{
    text-align: center;
    padding: 80px;
    background-color: whitesmoke;
}
#inicio h2{
    font-size: 2em;
    margin-bottom: 20px;
}
#inicio p{
    max-width: 700px;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 30px;
}
#inicio button{
    background-color: #333;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}
#inicio button:hover{
 
    transition: 0.3s;
    background-color: #555;
}
#articulos{
    padding: 60px 20px;
}
#articulos h2{
    text-align: center;
    margin-bottom: 40px;
}
.listaArticulos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
    justify-content: center;
}
.articulo img{
    width: 100%;
    height: 220px;
}
.articulo{
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex: 1 1 280px;
    max-width: 280px;
    padding-bottom: 20px;
}
.articulo h3{
    margin-bottom: 10px;
}
.articulo p{
    line-height: 1.5;
    margin-bottom: 15px;
}
.articulo a{
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}
.articulo a:hover{
    transition: 0.3s;
    background-color: #555;
}
.articulo div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#contacto{
    padding: 60px 20px;
    background-color: #f0f0f0;
}
#contacto .container{
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}
#contacto h2{
    text-align: center;
    margin-bottom: 25px;
}
#contacto p{
    text-align: center;
    margin-bottom: 25px;
}
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
form input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #d4c8c8;
}
form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
   
}
form button:hover{
    transition: 0.5s;
    background-color: #555;
}
footer{
    background-color: #111;
    color: white;
    padding: 50px 20px;
}
.footer-container {
            max-width: 1100px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 30px;
            text-align: center;
        }
 
        footer h3, footer h2 {
            text-transform: uppercase;
            margin-bottom: 15px;
        }
 
        footer a {
            display: block;
            color: #ccc;
            text-decoration: none;
            margin-bottom: 8px;
        }
 
        footer a:hover {
            color: white;
        }
 
        footer p {
            color: #aaa;
            font-size: 0.9em;
        }